/* Fondo general */
body {
  background-color: #f4fff4;
  font-family: 'Segoe UI', sans-serif;
}

/* Contenedor principal */
.form-container {
  width: 420px;
  background: white;
  padding: 2rem;
  margin: 3rem auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 80, 0, 0.15);
  border-top: 5px solid #2e7d32;
}

/* Título */
.form-container h1 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* Grupos del formulario */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* Etiquetas */
label {
  color: #2e7d32;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Inputs y selects */
input, select {
  padding: 10px;
  border: 2px solid #a5d6a7;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
}

/* Efecto al enfocar */
input:focus, select:focus {
  outline: none;
  border-color: #2e7d32;
  box-shadow: 0 0 5px rgba(46, 125, 50, 0.3);
}

/* Botón */
.btn-registrar {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

/* Efecto hover */
.btn-registrar:hover {
  background-color: #43a047;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(67, 160, 71, 0.4);
}
/* Botones dentro de la tabla */
.acciones {
  display: flex;
  gap: 0.5rem;
}

.btn-editar,
.btn-eliminar {
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-editar {
  background-color: #fbc02d;
  color: #fff;
}

.btn-editar:hover {
  background-color: #fdd835;
}

.btn-eliminar {
  background-color: #e53935;
  color: white;
}

.btn-eliminar:hover {
  background-color: #ef5350;
}
